name: presubmit

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  presubmit:
    name: Build image 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build image
        run: ./build_with_tiflash.sh --no-push